.blu-colored{
	color:#33519c;
}
.green-colored{
	color:#689F38;
}
.gray-colored{
	color:#777777;
}
.white-colored{
	color:#fff;
}
.yellow1-colored{
  color: #3f9c33;
}

.background-gray{
	background-color:#dddddd;
}

.background-green{
	background-color:#b7d02f;
}

.background-evidence-blu{
	background-color:#B3E5FC;
}